<nav><ul>
  <li><a href="/">New</a></li>
  <li><a href="/archives">Archives</a></li>
  <li><a href="/random">Random</a></li>
  <li><a class="selected" href="/about">About</a></li>
</ul>

<form>
  <input type="text" placeholder="Enter you text here..."/>
  <input type="submit" value="Search"/>
</form>

<div class="clear_both"></div>
</nav>

<section id="featured">
  <form id="file" action="/encode" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    <input type="file" name="inputfile" value="input-file" id="input-file">
    <input type="submit"value="Encode">
  </form>
</section>

<section id="content">
  <p>Simple64 is a file to base64 string converter. I wrote it for my own personal use, however I figured it may be useful to others, possibly as a simple example sinatra application.</p> <p>You can checkout the source code for this project at <a href="https://github.com/C0deMaver1ck/Simple64">https://github.com/C0deMaver1ck/Simple64</a>.
</section>