<nav><ul>
  <li><a href="/">New</a></li>
  <li><a class="selected" href="/archives">Archives</a></li>
  <li><a href="/random">Random</a></li>
  <li><a href="/about">About</a></li>
</ul>

<form>
  <input type="text" placeholder="Enter you text here..."/>
  <input type="submit" value="Search"/>
</form>

<div class="clear_both"></div>
</nav>

<section id="featured">
  <form id="file" action="/encode" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    <input type="file" name="inputfile" value="input-file" id="input-file">
    <input type="submit"value="Encode">
  </form>
</section>

<section id="content">
  <p>This feature has not been implemented yet.</p>
</section>