<nav><ul>
  <li><a href="/">New</a></li>
  <li><a href="/archives">Archives</a></li>
  <li><a href="/random">Random</a></li>
  <li><a href="/about">About</a></li>
</ul>

<form>
  <input type="text" placeholder="Enter you text here..."/>
  <input type="submit" value="Search"/>
</form>

<div class="clear_both"></div>
</nav>

<section id="featured">
  <p>What the hell did you do?</p>
</section>

<section id="content">
  <h2>404 Error</h2>
  <p>Sorry folks, the page you were looking for either doesn't exist or you don't exist.
    And I'm willing to bet it's the first one. Maybe you'd like to start again from
    <a href="/">the home page</a>?</p>
</section>