<nav><ul>
  <li><a href="/">New</a></li>
  <li><a href="/archives">Archives</a></li>
  <li><a href="/random">Random</a></li>
  <li><a href="/about">About</a></li>
</ul>

<form>
  <input type="text" placeholder="Enter you text here..."/>
  <input type="submit" value="Search"/>
</form>

<div class="clear_both"></div>
</nav>

<section id="featured">
  <p>I think you hit submit without selecting a file first. <a href="/">Try again</a>.</p>
</section>

<section id="content">
</section>